/*
Template Name: SalesPage
Author URI: https://themeforest.net/user/epic-themes
Author Name: Epic Themes
Version: 1.0
*/

/* --- TABLE OF CONTENT

01. GENERAL LAYOUT
02. MENU-NAV
03. FOOTER
04. HOME
05. TEAM
06. FEATURES
07. OTHER ELEMENTS
		a. Buttons
		b. Testimonials
		c. Accordion Tabs
		d. Features List
		e. Partners
08. MEDIA QUERIES

--- */

/* ========================================================== */
/* 			               01. GENERAL LAYOUT                 */
/* ========================================================== */

video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
  }

ul {
	padding: 0;
}

ul, ol { 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0;
	color:#858585;
	font-size: 14px;
	line-height:24px;
	margin-bottom:20px;
}
	
ul li, ol li{
	font-size: 17px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}

ul li i{
	vertical-align: middle;
	padding-right: 5px;
}

p {
	font-size: 17px;
    line-height: 28px;
	font-weight: 400;
	color: #7c8595;
	margin-bottom:15px;
	font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	outline: 0;
}

a:hover{
	color: #017df7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom:20px;
  color: #071e55;
  font-weight: 700;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h2.section-title {
    margin-bottom: 10px;
}

p.section-subtitle{
	font-size:18px;
}

p.section-subtitle.white{
	color:#ffffff;
}

iframe {
    max-width: 100%;
    border: none;
}

.iframe-youtube{
    position: relative;
    margin-top: 30px;
    z-index: 100;
}

.iframe-youtube iframe{
    padding: 10px 10px;
    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
    z-index: 100;
}

.video-popup-wrapper{
	position: relative;
}

.video-popup-wrapper:after{
	background-image: radial-gradient(#dee1e0 15%,transparent 25%);
    background-size: 20px 20px;
    content: "";
    position: absolute;
    width: 204px;
    height: 200px;
    right: -64px;
    top: -40px;
    z-index: -1;
}

.video-popup-wrapper img.hero-images{
	padding: 10px 10px;
	box-shadow: 0 20px 42px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
}

.video-popup-wrapper:hover img.hero-images {
	opacity: 0.99;
}

.popup-gallery:hover .video-popup-image{
	opacity: 1;
	
}

.video-play-icon {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.70);
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon:hover {
    background-color: rgba(0, 123, 255, 0.99);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon i {
    color: #fff;
}

.white-text{ 
	color: #fff;
}

.black-text{ 
	color: #000;
}

.lyla {
    color: #821156;
}

.strong{
	font-weight: bold;
}

.section-top-border{
	border-top: 1px solid #efefef;
}

.section-bottom-border{
	border-bottom: 1px solid #efefef;
}

.section-white {
	background: #fff;
	padding: 90px 0 100px 0;
}

.section-yellow {
	background-color: transparent;
	padding: 90px 0 100px 0;
}

.section-grey{
	background: #f7fafa;
	padding: 90px 0 100px 0;
}

.section-white-box{
	background-color: #fff;
	padding: 30px 40px 50px 40px;
}

.section-white.no-padding, .section-grey.no-padding, .section-yellow.no-padding {
	padding:0;
}

.section-white.medium-paddings, .section-grey.medium-paddings, .section-yellow.medium-paddings {
	padding: 60px 0;
}

.section-white.small-paddings, .section-grey.small-paddings, .section-yellow.small-paddings {
	padding: 30px 0;
}

.section-white.xsmall-paddings, .section-grey.xsmall-paddings, .section-yellow.xsmall-paddings {
	padding: 10px 0;
}

.section-white.small-padding-top, .section-grey.small-padding-top, .section-yellow.small-padding-top {
	padding: 30px 0 90px 0;
}

.section-white.small-padding-bottom, .section-grey.small-padding-bottom, .section-yellow.small-padding-bottom {
	padding: 90px 0 70px 0;
}

.section-white.no-padding-bottom, .section-grey.no-padding-bottom, .section-yellow.no-padding-bottom {
	padding: 90px 0 0 0;
}

.small-col-inside{
	margin: 90px 0;
	max-width: 575px;
	padding-left: 55px;
}

.width-100{
	width: 100%;
}

.box-shadow {
	border-radius: 8px;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);
}

/* margin and padding classes */

.margin-right-15 {
	max-width: 530px;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-top-110 {
	margin-top: 110px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-35 {
	margin-top: 35px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-130 {
	margin-bottom: 120px !important;
}

.margin-bottom-140 {
	margin-bottom: 140px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-25 {
	padding-top: 25px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-35 {
	padding-top: 35px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-45 {
	padding-top: 45px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.padding-left-20{
	padding-left: 20px;
}

/* ========================================================== */
/* 			               02. MENU-NAV                       */
/* ========================================================== */

.navbar-brand{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #fff;
}

.navbar-brand:hover{
	color: #fff;
}

.navbar-fixed-top.opaque .navbar-brand{
	color: #821156;
}

.navbar-fixed-top.opaque .navbar-brand:hover{
	color: #821156;
}

.navbar {
	width: 100%;
	z-index: 9999;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}

.navbar-toggler {
    border: 1px solid #821156;
}

.navbar-toggler-icon {
	width: 1.3em;
    height: 1.3em;
}

.navbar-toggler-icon i {
    color: #821156;
    vertical-align: middle;
}

.navbar-fixed-top {
	position: absolute!important;
	background-color: transparent;
	border-bottom: none;
	transition: background-color 0.25s ease 0s;
}

.navbar-fixed-top.opaque {
	position: fixed!important;
	background-color: #fff!important;
	border-bottom: 1px solid #efefef;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04)!important;
	transition: all 0.25s ease-in-out 0s;
}

.navbar-fixed-top .navbar-nav > li > a{
	color:#fff;
	font-size: 17px !important;
	line-height: 30px !important;
	padding: 10px 15px!important;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.navbar-fixed-top.opaque .navbar-nav > li > a{
	color:#405263;
}

.navbar-fixed-top .navbar-nav > li > a:hover{
	color: #821156!important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav .current a {
    color:#821156!important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a.discover-btn {
	border: 1px solid #fff;
	color: #821156!important;
	background:#fff;
	border-radius: 8px 8px;
	padding: 12px 18px!important;
	margin-left: 10px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
	color: #821156!important;
	background: #ececec;
	border: 1px solid #ececec;
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn {
	color: #fff!important;
	background: #821156;
	border: 1px solid #821156;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn:hover {
	border: 1px solid #821156;
	color: #821156!important;
	background: transparent;
}

/* ========================================================== */
/* 			                03. FOOTER                        */
/* ========================================================== */

.footer{
	position: relative;
	overflow: hidden;
    display: block;
    padding-top: 80px;
    background-color: #fafbfc;
}

.footer-top{
	padding-bottom: 60px;
}

.footer-bottom{
	padding: 40px 0 40px 0;
	background-color: #fff;
	border-top: 1px solid #efefef;
}

.footer-top i {
    margin-bottom: 10px;
    color: #821156;
    font-size: 60px;
}

.footer p {
	margin-bottom: 5px;
	line-height: 24px;
	color: #454545;
}

.footer p > a {
	font-size: 17px;
	color: #821156;
	text-decoration:underline;
}

.footer p > a:hover {
	color: #821156;
	text-decoration:underline;
}

span.template-name{
	font-weight: bold;
    color: #821156;
}

a.footer-links {
    display: block;
    font-size: 17px;
    margin-bottom: 2px;
    color: #454545;
}

a.footer-links:hover {
	color: #821156;
	text-decoration:underline;
    transition: all .5s ease-in-out;
}

/* Footer Social Icons */
ul.footer_social{
	width:100%;
	max-width:1140px;
	display:block;
	margin:0 auto;
	padding-top:15px;
	text-align:center;
}

ul.footer_social li{
	display:inline-block;
    margin:0 ;
	line-height:100%!important;
}

ul.footer_social li a i {
  display: inline-block;
  margin:0 8px;
  padding:0;
  font-size:26px!important;
  line-height: 26px!important;
  color: #1e90ff;
  transition: all .5s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

ul.footer_social li a i.fa-twitter {
  color: #4099ff;
}

ul.footer_social li a i.fa-pinterest {
  color: #C92228;
}

ul.footer_social li a i.fa-facebook-square {
  color: #3b5998;
}

ul.footer_social li a i.fa-instagram {
  color: #8a3ab9;
}

ul.footer_social li a i.fa-skipe {
  color: #00aff0;
}

ul.footer_social li a i.fa-dribble {
  color: #ea4c89;
}

ul.footer_social li a i:hover {
	color:#821156!important;
}

/* Footer Contact */
p.contact-info{
	margin-bottom:8px;
}

p.contact-info a{
	margin-bottom:8px;
	color: #7c8595;
}

p.contact-info a:hover{
	text-decoration: underline;
}

p.contact-info i{
	font-size:18px;
	padding-right:5px;
	vertical-align: middle;
	color: #1e90ff;
}

/* ========================================================== */
/* 			               04. HOME                           */
/* ========================================================== */

.home-section {
	position: relative;
	z-index: 999;
  	padding-top: 150px;
  	padding-bottom: 90px;
  	background: url(../images/bg11.jpg) top center no-repeat fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-section-overlay{
	width: 100%;
	background: #252525;
	opacity: 0.10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* -----  Register ----- */
.register-form-wrapper{
	padding: 25px 40px;
	background: rgba(255,255,255,1);
	border-radius: 5px 5px;
}

.register-form-wrapper h1{
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 28px;
}

.register-form-wrapper p{
	margin-bottom: 15px;
	font-size: 18px;
	color: #821156;
}

.register-form-wrapper p.webinar-date{
	margin-bottom: 40px;
	font-size: 20px;
	color: #071e55;
	text-decoration: underline;
}

input.register-input, select.register-input{
	width: 100%!important;
    height: 52px!important;
    padding-left: 11%!important;
    padding-right: 5%!important;
    margin-bottom: 15px!important;
    color: #252525!important;
    border: 1px solid #e5e5e5!important;
    background-color: #f5f5f5!important;
    font-size: 16px!important;
    border-radius: 5px 5px 5px 5px!important;
}

input.name-input{
    background: url('../images/input-user.png') no-repeat 12px 15px;
}

input.name-email{
    background: url('../images/input-envelope.png') no-repeat 12px 15px;
}

select.register-input{
    background: url('../images/input-select.png') no-repeat 12px 15px;
}

input.register-submit{
	background: #821156;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

input.register-submit:hover{
	background:#6b0a45;
	border-color:#6b0a45;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

#register-form input.register-input:focus, #register-form select.register-input:focus {
  border-color:#e5e5e5!important;
  color: #252525!important;
  outline: none;
}

#register-form input.register-input:focus, #register-form select.register-input:focus {
  border-color:#e5e5e5!important;
  color: #252525!important;
  outline: none;
}

input.white-input::-webkit-input-placeholder,
textarea.white-input::-webkit-input-placeholder { /* WebKit browsers */
    color:#252525;
}
input.white-input:-moz-placeholder,
textarea.white-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#252525;
}
input.white-input::-moz-placeholder,
textarea.white-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#252525;
}
input.white-input:-ms-input-placeholder,
textarea.white-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#252525;
}

p.register_success_box{
	display:inline-block;
	color:#6b0a45;
	border: 1px solid #6b0a45;
	padding: 25px 25px;
	font-size:19px;
	text-shadow: none;
	font-style:italic;
	border-radius: 8px 8px;
	margin:15px 0;
}

p.register-form-terms{
	margin: 10px 0 5px 0;
	font-size: 14px;
	color: #7c8595;
    text-shadow: none;
}

/* ----- Countdown ----- */
.countdown-section{
	background-color: #feb703;
    padding: 100px 0;
}

ul#countdown {
 	margin-top:25px;
}

ul#countdown li {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
 	margin:15px 15px;
	padding:20px 0;
	width:100px;
	height:100px;
	background-color:transparent;
	border:2px solid #000;
	-webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
  	text-align: center;
	vertical-align:middle;
}

ul#countdown li span {
	color:#000;
  	font-size: 34px;
	line-height:34px;
  	font-weight: 500;
  	position: relative;
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
	color:#000;
	margin-top:3px;
  	text-transform: uppercase;
  	font-size: 14px;
	line-height:14px;
  	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

a.countdown-cta {
	font-size: 20px;
	color: #821156;
}

a.countdown-cta span{
	text-decoration: underline;
}

a.countdown-cta a:hover{
	color: #821156;
}

/* ========================================================== */
/* 			               05. TEAM                           */
/* ========================================================== */

.team-item{
	margin-top:40px;
	padding: 30px 25px;
	background-color: #fff;
	border: 1px solid #e5efff;
    text-align: center;
    transition: all 1s;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item:hover{
	border: 1px solid #821156;
	transform: scale(1.025);
	transition: all 0.5s;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	font-weight: 500;
	text-transform:uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

.team-info::after {
    background: #821156;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: -20px;
}

.team-img{
	width: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* ========================================================== */
/* 			                06. FEATURES                      */
/* ========================================================== */

.services-wrapper{
	position: relative;
}

.main-services {
	position: relative;
    margin: 10px 5px;
    overflow: hidden;
    text-align: center;
	transition:all 1s;
}

.main-services:hover{
	transform: scale(1.025);
	transition:all 1s;
}

.main-services img{
	width: 100%;
	max-width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.main-services h3 {
	margin-bottom: 5px;
}

.main-services h3 a{
	font-size: 22px;
	font-weight: 500;
	color: #821156;
}

.main-services h4{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
}

.main-services p{
	padding: 0 10px;
	margin-bottom: 15px;
}

.main-services i {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 55px;
    color: #821156;
}

blockquote {
	font-size: 16px;
	color: #4285f4;
	border-left: 2px solid #4285f4;
}

.faq-box{
	margin: 30px 0 0 0;
	transition: all 1s;
}

.faq-box h4{
	font-size: 22px;
	margin-bottom: 10px;
}

.faq-box h5{
	margin-bottom: 7px;
}

.faq-box p{
	color: #7c8595;
}


/* ========================================================== */
/* 			               07. OTHER ELEMENTS                 */
/* ========================================================== */

/* a) Buttons */
.btn-white {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #821156;
	background-color: #ffffff;
	border: 1px solid #fff;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
	border-radius: 5px 5px;
    letter-spacing: 1px;
	margin: 10px 10px 0 10px 0;
	padding: 16px 26px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #821156!important;
	background:#f9f9f9;
}

.btn-white-border {
	color: #fff;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	border: 1px solid #fff;
	border-radius: 5px 5px;
	margin: 10px 10px;
	padding: 16px 26px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white-border:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #821156!important;
	background:#f9f9f9;
}

.btn-white i, .btn-white-border i {
	font-size: 22px;
	line-height: 22px;
	margin-right: 10px;
	vertical-align: text-top;
}

.btn-lyla {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
	background-color: #821156;
	border: 1px solid #821156;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    letter-spacing: 1px;
	border-radius: 5px 5px;
	margin: 15px 10px 0 0;
	padding: 18px 25px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-lyla:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #fff!important;
	background:#6b0a45;
}

.btn-lyla.small, .btn-lyla-line.small, .btn-white.small, .btn-white-border.small {
	font-size: 16px;
	padding: 14px 20px;
}

.btn-lyla-line {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #017df7;
	background-color: #fff;
	border: 1px solid #821156;
	border-radius: 5px 5px;
	margin: 15px 10px 0 0;
	padding: 20px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-lyla-line:hover{
	color: #fff!important;
	background:#6b0a45;
}

a.btn-lyla:visited, a.btn-lyla:focus{
	color: #fff!important;
}

/* b) Testimonials */
.testim-inner{
	margin-top: 40px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
    padding: 0 25px 25px 25px;
    border: 1px solid #e5efff;
    background-color: #fefefe;
    border-radius: 7px 7px;
    transition: all 1s;
}

.testim-inner:hover{
    border: 1px solid #6b0a45;
	transform: scale(1.025);
    transition: all 0.5s;
}

.testim-inner img{
	position: relative;
	display: inline-block;
	margin-top: -55px;
	max-width: 110px;
	border:1px solid #e5efff;
	border-radius: 50% 50%;
	padding: 5px 5px;
	background-color: #fff;
}

.testim-inner:hover img{
	border:1px solid #6b0a45;
}

.testim-inner h6{
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #821156;
}

.testim-inner p{
	font-size: 17px;
	line-height: 28px;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 5px;
}

.testim-rating i{
	color: #fdcc28;
}

/* c) Accordion Tabs */
.card{
	border:none;
    background-color: transparent !important;
}

.card-header {
    padding: 6px 0 9px 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

.card-header h5 .btn-link {
	padding: 0;
	font-size: 19px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
}

.card-header h5 .btn-link:hover, .card-header h5 .btn-link:focus {
	text-decoration: none;
}

.card-body {
    padding: 10px 0;
    border-top: 1px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #000;
}

/* d) Features List */

ul.benefits {
    margin-bottom: 20px;
}

ul.benefits li {
	float: left;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 8px;
}

ul.benefits.white li {
	color: #fff;
}

ul.benefits li span {
}

ul.benefits li i {
	float: left;
	width: 28px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #821156;
}

ul.benefits.white li i {
    color: #fff;
}

.no-padding-bottom{
	padding-bottom: 0;
}

/* ----- e) Partners ----- */
.partners-paddings{
	padding: 50px 0 25px 0;
}

ul.partners-mentions li {
	display:inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

ul.partners-mentions li img {
    max-height: 55px;
    opacity: 0.4;
}

ul.partners-mentions li img:hover {
    opacity: 0.8;
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* ========================================================== */
/* 			             08. MEDIA QUERIES                    */
/* ========================================================== */

@media (max-width: 991px) {

	.navbar-fixed-top.opaque {
	    padding: 0;
	}

	.navbar-fixed-top .navbar-nav > li.discover-link {
		margin-top: 10px;
	}

	.navbar-fixed-top .navbar-nav > li > a.discover-btn {
	    padding: 8px 12px!important;
	    margin-left: 20px;
	    font-size: 17px!important;
	}

}

@media (max-width: 768px) {

	.navbar-fixed-top {
		background-color:transparent;
	}

	.home-section {
		padding-top: 137px;
	  	padding-bottom: 100px;
	    background-attachment: inherit;
	}

    .padding-top-120 {
	    padding-top: 30px !important;
	}

	.footer {
	    padding-top: 30px;
	}

	.footer-top i {
		display: block;
	    margin-top: 50px!important;
	}

	ul.footer_social li a i {
	    margin: 0 8px!important;
	}

	.top-margins-images{
		margin-top: 50px;
	}

	.margin-right-15{
		margin-bottom: 40px;
	}

}

@media (max-width: 375px) {

	.navbar-toggle {
	    margin-bottom: 0;
	    border: 1px solid #9f9f9f!important;
	}

	.home-section h1 {
	    font-size: 38px;
	    line-height: 44px;
	}

	.section-white {
	    padding: 60px 0 70px 0!important;
	}

	.section-white.small-padding-bottom, .section-grey.small-padding-bottom {
	    padding: 60px 0 50px 0!important;
	}

	.margin-left-20{
		margin-left: 1px!important;
	}

	.services-wrapper{
		margin-top: 30px;
	}

	.small-col-inside{
		margin: 50px 0;
		padding-right: 25px;
		padding-left: 25px;
	}

	input.register-input, select.register-input{
	    padding-left: 12%!important;
	}

	input.name-input{
	    background: url('../images/input-user.png') no-repeat 5px 15px;
	}

	input.name-email{
	    background: url('../images/input-envelope.png') no-repeat 5px 15px;
	}

	select.register-input{
	    background: url('../images/input-select.png') no-repeat 5px 15px;
	}

	input.contact-submit{
		margin-bottom: 40px;
	}

}